.header {
  font-family: "Roboto", "Arial", sans-serif;
  min-height: 80px;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__title {
  color: #008ad3;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}
